html {
  height: 100%;
}

body {
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom right, #005aa7, #fffde4);
  height: auto;
  background-size: cover;
}

.font {
  font-family: 'Lora';
}
.header{
  margin-left: 15%;
  margin-top: 3%;
  margin-right: 15%;
  margin-bottom: auto;
  height: 69px;
}
.main {
  background: rgba(255, 255, 255, 0.20);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(10.0px);
  -webkit-backdrop-filter: blur(10.0px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  margin: 5% 20% 10% 10%;
  width: 80%;
  padding: 5%;
}

.dropdown-content {
  display: none;
  position: relative;
  background-color: #f9f9f9;
  width: auto;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 10px 10px;
}

.main input{
  border-radius: 5px;
  margin-bottom: 2%;
}
#query-sel{
  margin-bottom: 2%;
}
.pin-hid{
  display:none;
}
.dis-hid{
  display: none;
}
.show{
  display: block;
}
