html,
body {
  height: 100%;
}
.text-center{
  background-image: linear-gradient(#ff9a9e,#fad0c4);
}
.mb-4{
  position: relative;
  align-content: center;

}
body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #fffff;
}
#Pincode{
  width: 75%;
  margin-bottom: 4%;
}
#pin-btn{
  width:25%;
  margin-bottom: 4%;
}
#ifr-pin{
  display: none;
}
.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
#floatingInput{
  margin-bottom: 4%;
}
.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
